.main-page {
    display: flex;
    height: 100%;
}

.left-section {
    flex: 1;
    height: 100%;

    .bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.right-section {
    width: 470px;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .right-section-wrapper {
        padding: 17px;


        .title {
            font-size: 23px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

}